<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Board 작성 Form</title>
</head>
<body>

<style>
    .layout{
        width: 500px;
        margin: 0 auto;
        margin-top: 40px;
    }
    .layout input,textarea{
        width: 100%;
        box-sizing: border-box;
        margin-top: 10px;
    }


</style>
<div class="layout">
    <form action="/board/writepro" method="post">
        <input type="text"  name="title">
        <textarea name="content"></textarea>
        <button type="submit">Submit</button>
    </form>
</div>

</body>
</html>